
<div class="panel panel-default">
  <div class="panel-heading">
    <%= resume.content %>
  </div>
  <div class="panel-body">
    <%= link_to("下载简历", resume.attachment_url, class:"btn btn-info btn-sm") %>
  </div>
</div>
